@import url('base.css');

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.guia {
  background-color: #2a2f34;
  border: 2px solid #454e57;
  padding: 20px;
  width: 280px;
  border-radius: 10px;
  transition: transform 0.3s;
}

.guia:hover {
  transform: translateY(-5px);
}
